@page
@model Naresh_web.Pages.IntroModel
@{
    ViewData["Title"] = "Hello World";
}
@section Naresh_web{
      <div>
          <p>Welcome to</p>
          <h2>C# programming language</h2>
      </div> 
}
<h3>Naresh kamanaboyana</h3>
<form>
    <input type="number" />
    <input type="number" />
    <output>output</output>
    <button type="submit">submit</button>
</form>