@page
@model Naresh_web.Pages.IntroModel
@{
    ViewData["Title"] = "Hello World";
}
@section Naresh_web{
      <div>
          <p>Welcome to Programming world we are currently learning C# with .net framework</p>
      </div> 
}
<h3> Naresh Kamanaboyana</h3>
<form>
    <input type="number" />
    <input type="number" />
    <output>output</output>
    <button type="submit">Submit</button>
</form>